<% provide(:title, "Edit Fruit") %>

<h1> Update your fruit</h1>

<div class = "row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @fruit, :url => {:action => 'update', :id => @fruit} do |c| %>
			<%= render 'shared/error_messages_fruit' %>

			<%= c.label :name %>
			<%= c.text_field :name, class: 'form-control' %>

			<%= c.label :variety %>
			<%= c.text_field :variety, class: 'form-control' %>

			<%= c.label :color %>
			<%= c.text_field :color, class: 'form-control' %>

			<%= c.label :plantation_name %>
			<%= c.collection_select :plantation_id, Plantation.all, :id, :name, class: 'form-control' %>

			<%= c.submit "Save changes", class: "btn btn-success" %>
		<% end %>

		<hr />

		<%= link_to "Cancel", {:action => 'list'}, class: "btn btn-danger btn-block" %>
		<br />
		<%= link_to "Main Page", {:controller => 'main', :action => 'index'}, class: "btn btn-primary btn-block"%>
	</div>
</div>

