<h1><%= @fruit.name %></h1>

<p>
	<strong>Name: </strong> <%= @fruit.name %><br />
	<strong>Variety: </strong> <%= @fruit.variety %> <br />
	<strong>Color: </strong> <%= @fruit.color %> <br />
	<strong>Plantation: </strong> <%= @fruit.plantation.name%></br />
	<strong>Created Date: </strong> <%= @fruit.created_at %><br />
</p>

<hr />

<%= link_to "Fruit List", {:action => 'list'} %>

<br />
<br />

<%= link_to "Main page", {:controller => 'main', :action => 'index'}%>