<h1> <%= @vegetable.name %></h1>

<p>
	<strong>Name: </strong> <%= @vegetable.name %>
	<strong>variety: </strong> <%= @vegetable.variety %>
	<strong>Color: </strong> <%= @vegetable.color %>
	<strong>Time: </strong> <%= @vegetable.time %>
	<strong>Plantation: </strong> <%= @vegetable.plantation.name %>
	<strong>Cretaed At: </strong> <%= @vegetable.created_at %>
</p>

<hr />

<%= link_to "Vegetable List", {:action => 'list'} %>

<br />
<br />

<%= link_to "Main Page", {:controller => 'main', :action => 'index'} %>